<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
  <div fxFlex="40" id="left-div">
    <div style="min-height: 92vh; background-color: rgba(202, 199, 224, 0.81);">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sale Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <div fxFlex="70">
                  <!--              Transaction Details-->
                  <form [formGroup]="transactionDetailsForm" class="transaction-detail">
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                      <ng-select [items]="customers" fxFlex="80" (change)="onSelectedCustomer($event)" bindLabel="ledger_name" class="custom" bindValue="id" formControlName="ledger_id" placeholder="Select Vendor">
                      </ng-select>
                      <div fxFlex="20" *ngIf="selectedLedger" @fadeSlideInOut>
                        <popover-content #popoverCustomer title="{{selectedLedger.ledger_name}}" placement="right" [animation]="true" [closeOnClickOutside]="true">
                          <span style=""><b> Name: </b>{{selectedLedger.billing_name}}</span><br>
                          <span *ngIf="selectedLedger.address1" style=""><b>Address: </b>{{selectedLedger.address1}}</span><br>
                          <div *ngIf="selectedLedger.mobile1" style=""><b>Mobile1 : </b>{{selectedLedger.mobile1}}</div>
                          <div *ngIf="selectedLedger.mobile2"><b>Mobile2 : </b>{{selectedLedger.mobile2}}</div>
                          <div *ngIf="selectedLedger.area" style=""> <b> Area: </b>{{selectedLedger.area}}</div>
                          <span style=""><b> Pin: </b>{{selectedLedger.pin}}</span>
                        </popover-content>


                        <div class="example-button-container">
                          <button mat-mini-fab color="primary" [popover]="popoverCustomer" aria-label="Customer Details">
                            <mat-icon>menu</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div fxFlex="30">
                  <!--              Sale form here-->
                  <form [formGroup]="transactionMasterForm">
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                      <mat-form-field class="example-full-width" fxFlex="90">
                        <mat-label>Sale date (dd/mm/yyyy)</mat-label>
                        <input matInput [matDatepicker]="saleDatePicker" formControlName="transaction_date" placeholder="dd/mm/yyyy">
                        <mat-datepicker-toggle matSuffix [for]="saleDatePicker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #saleDatePicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </form>
                </div>


          </div>
          <hr size="10">
          <!--          sale details are here-->
          <form [formGroup]="saleDetailsForm" class="purchase-details">

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <mat-form-field fxFlex="30">
                <mat-label>Product category</mat-label>
                <mat-select formControlName="product_category_id" placeholder="Product category" (ngModelChange)="onProductCategorySelected($event)">
                  <mat-option *ngFor="let productCategory of productCategories" [value]="productCategory.id">
                    {{productCategory.category_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <ng-select [items]="productsByCategory" fxFlex="30" (change)="onSelectedProduct($event)" bindLabel="product_name" class="custom" bindValue="id" formControlName="product_id" placeholder="Product">
              </ng-select>
              <div fxFlex="20" *ngIf="selectedProduct" @fadeSlideInOut>
                <div class="example-button-container">
                  <button mat-mini-fab color="accent" [popover]="popoverProduct" aria-label="Customer Details">
                    <mat-icon>menu</mat-icon>
                  </button>
                </div>
                <popover-content #popoverProduct title="{{selectedProduct.product_name}}" placement="right" [animation]="true" [closeOnClickOutside]="true">
                </popover-content>
              </div>
            </div>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <!--Rate-->
              <mat-form-field fxFlex="20">
                <mat-label>Rate</mat-label>
                <input type="number" class="text-right" matInput formControlName="rate" placeholder="Rate">
              </mat-form-field>
              <!--Quantity-->
              <mat-form-field fxFlex="20" *ngIf="selectedProduct">
                <mat-label>Qty <b>{{selectedProduct.sale_unit_name}}</b></mat-label>
                <input type="number" class="text-right" matInput formControlName="sale_quantity"  placeholder="Quantity">
              </mat-form-field>
              <!--Amount-->
              <mat-form-field fxFlex="20">
                <mat-label>Amount</mat-label>
                <input matInput [value]="currentItemAmount" readonly>
              </mat-form-field>
            </div>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <button class="pull-right" tooltip="<p>Press Alt+a</p>" mat-stroked-button (click)="addItem()" [ngxMousetrapKey]="'alt+a | alt+a'">Add</button>
              <button class="pull-right" mat-stroked-button >clear</button>
            </div>

            </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxFlex="60" id="right-div">
    <div style="min-height: 92vh; background-color: rgba(202, 199, 224, 0.81);">
      <mat-slide-toggle [(ngModel)]="isShowAllSalesList" (change)="onToggle($event)">Slide me!</mat-slide-toggle>

      <mat-card *ngIf="saleDetails.length>0 && !isShowAllSalesList"  class="example-card">
        <mat-card-header>
          <mat-card-title>
            <fa-icon></fa-icon>&nbsp;Sale Details</mat-card-title>
          <mat-card-subtitle>
            <div *ngIf="selectedLedger">
              <span><h3>{{selectedLedger.billing_name}}</h3></span>
              <span>Address: {{selectedLedger.address1}},Mob: {{selectedLedger.mobile1}}</span><br>
            </div>
          </mat-card-subtitle>

        </mat-card-header>

        <mat-card-content>
          <table class="table table-bordered" id="sale-detail-list">
            <thead>
            <tr>
              <th class="w-10">SL</th>
              <th class="w-30">Product</th>
              <th class="w-10">Rate</th>
              <th class="w-10">Qty</th>
              <th class="w-10">Amount</th>
              <th class="w-30 text-center" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
              <tr [class.editable-purchase-detail-item]="indexOfElement==editableSaleDetailItemIndex" *ngFor="let saleDetail of saleDetails;let indexOfElement=index">
              <td>{{indexOfElement+1}}</td>
              <td>{{saleDetail.product.product_name}} ({{saleDetail.product.category_name}})</td>
              <!--              Rate-->
              <td id="rate" class="text-right">
                                <span *ngIf="saleDetail.isEditable">
                                  <input appAutofocus type='number'  [(ngModel)]="saleDetail.rate" class="cellInput">
                                  <button (click)="saleDetail.isEditable = false"  style="background-color: #c4c6ca; height: 30px; width: 30px; border-radius: 5px;">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                  </button>
                                </span>
                <a *ngIf="!saleDetail.isEditable" [routerLink]="" (click)="saleDetail.isEditable = true" >{{saleDetail.rate | currency:"&#8377; "}}</a>

              </td>
              <!--              Quantity-->
              <td class="text-right">
                <!--                                  {{purchaseDetail.purchase_quantity + ' (' + purchaseDetail.unit.unit_name + ')'}}-->
                <a *ngIf="!saleDetail.isEditable" [routerLink]="" (click)="saleDetail.isEditable = true">{{saleDetail.sale_quantity + ' (' + saleDetail.unit.unit_name + ')'}}</a>
                <span *ngIf="saleDetail.isEditable">
                                  <input appautofocus type='number' [(ngModel)]="saleDetail.sale_quantity" class="cellInput">
                                  <button (click)="saleDetail.isEditable = false" style="background-color: #c4c6ca; height: 30px; width: 30px; border-radius: 5px;">
                                     <fa-icon [icon]="faCheck"></fa-icon>
                                  </button>
                </span>
              </td>

                <!--                Amount-->
              <td class="text-right pr-5">{{(saleDetail.rate * saleDetail.sale_quantity) | number: '1.2' | currency:"&#8377; "}}</td>

              <!--              Action-->
              <td class="text-right">
                <a [routerLink]="" (click)="populateSaleDetailsForm(saleDetail , indexOfElement)"><fa-icon class="edit" [icon]="faPencilAlt"></fa-icon></a>
              </td>
              <td class="text-right">
                <a [routerLink]="" (click)="deleteSaleDetailItem(saleDetail)"><fa-icon class="edit" [icon]="faTrashAlt"></fa-icon></a>
              </td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>


      <!--          purchase list-->

    </div>
  </div>
</div>







<!--developer div-->
<div fxLayout.xs="column" id="developer-area" fxLayout="row" fxFlexFill *ngIf="isDeveloperAreaShowable">

  <div fxFlex="30">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 1</h2>
      </mat-card-header>
      <mat-card-content>
        <pre>
          products = {{products | json}}
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 2</h2>
      </mat-card-header>
      <mat-card-content>
        <pre>
          saleDetailForm={{saleDetailsForm.value | json}}
        </pre>
        <hr>
        <pre>
          saleDetails={{saleDetails | json}}
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 3</h2>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 4</h2>
      </mat-card-header>
      <mat-card-content>
        <span tooltip="<p>Hello i'm a <strong>bold</strong> text!</p>">
          Tooltip with HTML content
        </span>
        <p appHighlight>This is invalid</p>

        <h3>Click the button to change its color!</h3>
        <button (click)="toggleIsCorrect()"  [@toggleClick]="isGreen">Toggle Me!</button>

        <h3>Arcing Ball Animation</h3>
        <button (click)="toggleBounce()">Arc the Ball!</button>
        <div [@animateArc]="arc" class="ball"></div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
