<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
  <div fxFlex="40">
    <div style="min-height: 92vh; background-color: rgba(202, 199, 224, 0.81);">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sale Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div fxFlex="80">

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex="60">
    <div style="min-height: 92vh; background-color: rgba(202, 199, 224, 0.81);">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sale Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div fxFlex="80">

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!--developer div-->
<div fxLayout.xs="column" id="developer-area" fxLayout="row" fxFlexFill *ngIf="isDeveloperAreaShowable">

  <div fxFlex="30">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 1</h2>
      </mat-card-header>
      <mat-card-content>



      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 2</h2>
      </mat-card-header>
      <mat-card-content>


      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 3</h2>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 4</h2>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

</div>
