<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
  <div fxFlex="40">
    <div style="min-height: 92vh; background-color: rgba(202, 199, 224, 0.81);">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sale Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">


                <div fxFlex="70">
                  <!--              Transaction Details-->
                  <form [formGroup]="transactionDetailsForm" class="transaction-detail">
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                      <ng-select [items]="customers" fxFlex="80" (change)="onSelectedCustomer($event)" bindLabel="ledger_name" class="custom" bindValue="id" formControlName="ledger_id" placeholder="Select Vendor">
                      </ng-select>
                      <div fxFlex="20" *ngIf="selectedLedger">
                        <popover-content #myPopover title="{{selectedLedger.ledger_name}}" placement="right" [animation]="true" [closeOnClickOutside]="true">

                          <!--                                            <b>{{selectedLedger.address1 + ' | ' + selectedLedger.address2}}</b>-->
                          <span style="color: #00b3ee">billing_name: {{selectedLedger.billing_name}}</span><br>
                          <span style="color: #C21F39">Address: {{selectedLedger.address1}}</span><br>
                          <span style="color: #00b3ee">Mobile1 : {{selectedLedger.mobile1}}</span><br>
                          <span style="color: #C21F39">Area: {{selectedLedger.area}}</span><br>
                          <span style="color: #00b3ee">Pin: {{selectedLedger.pin}}</span>
                          <!--                                            <b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>.-->
                        </popover-content>


                        <div class="example-button-container">
                          <button mat-mini-fab color="primary" [popover]="myPopover" aria-label="Customer Details">
                            <mat-icon>menu</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div fxFlex="30">
                  <!--              Sale form here-->
                  <form [formGroup]="transactionMasterForm">
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                      <mat-form-field class="example-full-width" fxFlex="90">
                        <mat-label>Sale date (dd/mm/yyyy)</mat-label>
                        <input matInput [matDatepicker]="saleDatePicker" formControlName="transaction_date" placeholder="dd/mm/yyyy">
                        <mat-datepicker-toggle matSuffix [for]="saleDatePicker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #saleDatePicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </form>
                </div>


          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex="60">
    <div style="min-height: 92vh; background-color: rgba(202, 199, 224, 0.81);">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sale Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div fxFlex="80">

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>







<!--developer div-->
<div fxLayout.xs="column" id="developer-area" fxLayout="row" fxFlexFill *ngIf="isDeveloperAreaShowable">

  <div fxFlex="30">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 1</h2>
      </mat-card-header>
      <mat-card-content>



      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 2</h2>
      </mat-card-header>
      <mat-card-content>


      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 3</h2>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 4</h2>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

</div>
