<div fxLayout.xs="column" fxLayout="row" fxFlexFill>


  <div fxFlex="50" id="left-div">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Purchase Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <div fxFlex="50">
            <form [formGroup]="transactionDetailsForm" class="transaction-detail">
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <ng-select [items]="vendors" fxFlex="80" (change)="onSelectedVendor($event)"
                           bindLabel="ledger_name"
                           class="custom"
                           bindValue="id"
                           formControlName="ledger_id"
                           placeholder="Select Vendor">
                </ng-select>
                <div fxFlex="20" *ngIf="selectedLedger">
                  <popover-content #myPopover
                                   title="{{selectedLedger.ledger_name}}"
                                   placement="right"
                                   [animation]="true"
                                   [closeOnClickOutside]="true" >
                    <b>{{selectedLedger.address1 + ' | ' + selectedLedger.address2}}</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>
                    <b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>.
                  </popover-content>

                  <a [routerLink]="" [popover]="myPopover">Vendor info</a>
                </div>
              </div>
            </form>
          </div>
          <div fxFlex="25">
            <form [formGroup]="transactionMasterForm">
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <mat-form-field class="example-full-width" fxFlex="90">
                  <mat-label>Purchase date (dd/mm/yyyy)</mat-label>
                  <input matInput [matDatepicker]="purchaseDatePicker"  formControlName="transaction_date" placeholder="dd/mm/yyyy">
                  <mat-datepicker-toggle matSuffix [for]="purchaseDatePicker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #purchaseDatePicker ></mat-datepicker>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div fxFlex="25">
            <form [formGroup]="purchaseMasterForm" class="purchase-master">
              <mat-form-field class="example-full-width" fxFlex="90">
                <mat-label>Order date (dd/mm/yyyy)</mat-label>
                <input matInput [matDatepicker]="orderDatePicker" formControlName="order_date" placeholder="dd/mm/yyyy">
                <mat-datepicker-toggle matSuffix [for]="orderDatePicker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #orderDatePicker ></mat-datepicker>
              </mat-form-field>
            </form>
          </div>
        </div>



        <hr size="10">

        <form [formGroup]="purchaseMasterForm" class="purchase-master">

          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="30">
              <mat-label>Invoice number</mat-label>
              <input type="text" matInput formControlName="invoice_number" placeholder="Invoice number">
            </mat-form-field>

            <mat-form-field fxFlex="30">
              <mat-label>Reference number</mat-label>
              <input type="text" matInput formControlName="reference_number" placeholder="Reference number">
            </mat-form-field>

            <mat-form-field fxFlex="30">
              <mat-label>Challan number</mat-label>
              <input type="text" matInput formControlName="challan_number" placeholder="Challan number">
            </mat-form-field>
          </div>

          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">

            <mat-form-field fxFlex="30">
              <mat-label>Order number</mat-label>
              <input type="text" matInput formControlName="order_number" placeholder="Order number">
            </mat-form-field>

            <mat-form-field fxFlex="30">
              <mat-label>Case number</mat-label>
              <input type="text" matInput formControlName="order_number" placeholder="Order number">
            </mat-form-field>
          </div>
          <hr size="20">
        </form>

        <form [formGroup]="purchaseDetailsForm" class="purchase-details">

          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="30">
              <mat-label>Product category</mat-label>
              <mat-select  formControlName="product_category_id" placeholder="Product category" (ngModelChange)="onProductCategorySelected($event)">
                <mat-option *ngFor="let productCategory of productCategories" [value]="productCategory.id">
                  {{productCategory.category_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <ng-select [items]="productsByCategory" fxFlex="30" (change)="onSelectedProduct($event)"
                       bindLabel="product_name"
                       class="custom"
                       bindValue="id"
                       formControlName="product_id"
                       placeholder="Product">
            </ng-select>

            <button mat-stroked-button (click)="addItem()">Add</button>

          </div>


          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="20">
              <mat-label>Rate</mat-label>
              <input type="number" class="text-right" matInput formControlName="rate" placeholder="Rate">
            </mat-form-field>

            <mat-form-field fxFlex="20">
              <mat-label>Quantity</mat-label>
              <input type="number" class="text-right" matInput formControlName="purchase_quantity" placeholder="Quantity">
            </mat-form-field>
            Amount: {{currentItemAmount | number: '1.2'}}

            <mat-form-field fxFlex="20" *ngIf="selectedProduct && selectedProduct.purchase_unit_id!=selectedProduct.sale_unit_id">
              <mat-label>Stock quantity</mat-label>
              <input type="number" class="text-right" matInput formControlName="stock_quantity" placeholder="Stock quantity">

            </mat-form-field>


          </div>
        </form>

      </mat-card-content>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
        <button  mat-stroked-button (click)="clearPurchaseForm()">clear</button>
        <button  mat-stroked-button (click)="savePurchase()">Save Purchase</button>
      </div>
    </mat-card>

    <!--    <pre>validatorError = {{validatorError | json}}</pre>-->
  </div>
  <div fxFlex="50" id="right-div">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><fa-icon></fa-icon>&nbsp;Purchase details</mat-card-title>
        <mat-card-subtitle>
<!--          <span *ngIf="purchaseMaster.ledger"><h3>{{purchaseMaster.ledger.billing_name}}</h3></span>-->
<!--          <span >Address: {{purchaseMaster.ledger.address1}},Mob: {{purchaseMaster.ledger.mobile1}}</span><br>-->
<!--          <span >Invoice: {{purchaseMaster.invoice_number}},Ref no: {{purchaseMaster.reference_number}}</span><br>-->
<!--          <span >Order no: {{purchaseMaster.order_number}},Challan no: {{purchaseMaster.challan_number}}</span><br>-->
<!--          <span>Purchase Date: {{purchaseMaster.purchase_date}} , Order date: {{purchaseMaster.order_date}}</span>-->
        </mat-card-subtitle>

      </mat-card-header>

      <mat-card-content>
        <table class="table table-bordered table-responsive" id="purchase-detail-list" width="100%">
          <thead>
          <tr>
            <th>SL</th>
            <th>Product</th>
            <th>Rate</th>
            <th>Qty</th>
            <th>Amount</th>
            <th class="text-center" colspan="2">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let purchaseDetail of purchaseDetails;let indexOfElement=index">
            <td>{{indexOfElement+1}}</td>
            <td>{{purchaseDetail.product.product_name}}</td>
            <td>{{purchaseDetail.rate}}</td>
            <td>{{purchaseDetail.purchase_quantity + ' (' + purchaseDetail.unit.unit_name + ')'}}</td>
            <td class="text-right">{{(purchaseDetail.rate * purchaseDetail.purchase_quantity) | number: '1.0-2'}}</td>
            <td>
              <span  (click)="itemToEdit(purchaseDetail)"><fa-icon class="edit" [icon]="faUserEdit"></fa-icon></span>
            </td>
            <td>
              <span  (click)="deleteItem(purchaseDetail)"><fa-icon class="edit" [icon]="faTrashAlt"></fa-icon></span>
            </td>
          </tr>
          </tbody>

          <tfoot>
          <tr>
            <td colspan="4">Total</td>
            <td class="text-right">{{currentPurchaseTotal}}</td>
            <td colspan="2"></td>
          </tr>

          <tr>
            <td colspan="4">Round off</td>
            <td class="text-right">{{roundedOff}}</td>
            <td colspan="2"></td>
          </tr>

          <tr>
            <td colspan="4">Gross amount</td>
            <td class="text-right">{{currentPurchaseTotal + roundedOff}}</td>
            <td colspan="2"></td>
          </tr>
<!--          <form [formGroup]="purchaseMasterForm" class="purchase-master">-->
<!--            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">-->
<!--              <mat-form-field fxFlex="60">-->
<!--                <mat-label>Comment</mat-label>-->
<!--                <input type="textarea" matInput formControlName="comment" placeholder="Comment">-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--          </form>-->

          </tfoot>
        </table>
        <h3>Extra item</h3>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <form [formGroup]="extraItemsForm">
            <mat-form-field fxFlex="40">
            <mat-label>Extra item</mat-label>
              <mat-select  formControlName="extra_item_id" placeholder="Extra item">
                <mat-option *ngFor="let extraItem of extraItems" [value]="extraItem.id">
                  {{extraItem.item_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="20">
              <mat-label>Amount</mat-label>
              <input type="number" class="text-right" matInput formControlName="amount" placeholder="Extra amount">
            </mat-form-field>
            <mat-form-field fxFlex="40">
              <mat-label>Type</mat-label>
              <mat-select  formControlName="item_type" placeholder="Extra item">
                <mat-option *ngFor="let extraItemType of extraItemTypes" [value]="extraItemType.value">
                  {{extraItemType.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button  mat-stroked-button (click)="addExtraItemForPurchase()">Add</button>
          </form>
        </div>

      </mat-card-content>
    </mat-card>


  </div>
</div>
<div fxLayout.xs="column" id="developer-area" fxLayout="row" fxFlexFill *ngIf="true">

  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area</h2>
      </mat-card-header>
      <mat-card-content>
        <pre>
          extraItemsForm = {{extraItemsForm.value | json}}
          extraItemDetails = {{extraItemDetails | json}}
        </pre>
        <pre>
<!--          valid = {{customerForm.valid | json}}-->
<!--          invalid = {{customerForm.invalid | json}}-->
<!--          dirty = {{customerForm.dirty | json}}-->
<!--          enabled = {{customerForm.enabled | json}}-->
<!--          disabled = {{customerForm.disabled | json}}-->
<!--          touched = {{customerForm.touched | json}}-->
<!--          untouched = {{customerForm.untouched | json}}-->
<!--          errors = {{customerForm.errors | json}}-->
<!--          status = {{customerForm.status | json}}-->
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area</h2>
      </mat-card-header>
      <mat-card-content>
        <pre>
          purchaseDetails = {{purchaseDetails | json}}
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area</h2>
      </mat-card-header>
      <mat-card-content>
        <pre>
          transactionMasterForm = {{transactionMasterForm.value | json}}
          transactionMaster = {{transactionMaster | json}}
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area</h2>
      </mat-card-header>
      <mat-card-content>
        <pre>
          transactionDetailsForm = {{transactionDetailsForm.value | json}}
          transactionDetails = {{transactionDetails | json}}
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
</div>


