

#receive-right{
  background: linear-gradient(90deg, rgba(226, 221, 225, 0.56) 0%, rgb(232, 224, 181) 35%, rgb(202, 226, 218) 80%);
  border-radius: 5px;
}



#receive-left{
  background: linear-gradient(90deg, rgba(226, 221, 225, 0.56) 0%, rgb(232, 224, 181) 35%, rgb(197, 195, 198) 80%);
  border-radius: 5px;
}

#income-form{
  background: linear-gradient(90deg, rgba(226, 221, 225, 0.56) 0%, rgb(232, 224, 181) 35%, rgb(197, 195, 198) 80%);
  border-radius: 5px;
}

#transaction-display-div{
  background: linear-gradient(90deg, rgba(226, 221, 225, 0.56) 0%, rgba(54, 150, 232,.2) 35%, rgb(197, 195, 198) 80%);
}

