<div class="d-flex align-items-end flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight" style="background-color: #dddddd; width: 100vw;">
    <button mat-raised-button class="btn btn-warning ml-2 mt-1 mb-1"  matBadgePosition="above before" [routerLink]="['./saleEntry']">Sale Entry</button>
    <button mat-raised-button class="btn btn-warning ml-2 mt-1 mb-1"  matBadgePosition="above before" [routerLink]="['./printBill']">Print</button>
    <button mat-raised-button class="btn btn-warning ml-2 mt-1 mb-1"  matBadgePosition="above before" [routerLink]="['./saleList']">Sale List</button>
  </div>
</div>
<router-outlet></router-outlet>
