<div fxLayout="row" fxLayoutAlign="space-around top" >
  <div fxFlex="50" style="background-color: #f6e663">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Product Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="productForm">
          <!--          product name-->
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="50">
              <mat-label>Product Name</mat-label>
              <input type="text" matInput formControlName="product_name" placeholder="Product Name">
              <mat-hint>Enter any unique product name</mat-hint>
              <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="!productForm.get('product_name').valid && productForm.get('product_name').touched">
                <mat-error *ngIf="productForm.get('product_name').errors['required']">Product is required</mat-error>
                <mat-error *ngIf="productForm.get('product_name').errors['minlength']">Minimum length of product is {{productForm.get('product_name').errors.minlength.requiredLength}}</mat-error>
                <mat-error *ngIf="productForm.get('product_name').errors['maxlength']">Maximum length of product is {{productForm.get('product_name').errors.maxlength.requiredLength}}</mat-error>
                <mat-error *ngIf="validatorError!=null && validatorError.product_name">{{validatorError.product_name}}</mat-error>
              </div>
            </mat-form-field>
          </div>



          <!--          Description-->
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="50">
              <mat-label>Description</mat-label>
              <input type="text" matInput formControlName="description" placeholder="Description">
              <mat-hint>Description is optional</mat-hint>
              <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="!productForm.get('description').valid && productForm.get('description').touched">
                <mat-error *ngIf="productForm.get('description').errors['required']">Description is required</mat-error>
                <mat-error *ngIf="productForm.get('description').errors['minlength']">Minimum length of description is {{productForm.get('description').errors.minlength.requiredLength}}</mat-error>
                <mat-error *ngIf="productForm.get('description').errors['maxlength']">Maximum length of description is {{productForm.get('description').errors.maxlength.requiredLength}}</mat-error>
                <mat-error *ngIf="validatorError!=null && validatorError.description">{{validatorError.description}}</mat-error>
              </div>
            </mat-form-field>
          </div>





          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="40">
              <mat-label>Category</mat-label>
              <mat-select  formControlName="product_category_id">
                <mat-option *ngFor="let productCategory of productCategories" [value]="productCategory.id">
                  {{productCategory.category_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--          purchase unit and Sale unit-->
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="15">
              <mat-label>Purchase Unit</mat-label>
              <mat-select  formControlName="purchase_unit_id">
                <mat-option *ngFor="let unit of units" [value]="unit.id">
                  {{unit.unit_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="15">
              <mat-label>Sale Unit</mat-label>
              <mat-select  formControlName="sale_unit_id">
                <mat-option *ngFor="let unit of units" [value]="unit.id">
                  {{unit.unit_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--          End ofpurchase unit and Sale unit-->
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="10">
              <input matInput placeholder="GST rate" type="number"  formControlName="gst_rate" class="text-right">
            </mat-form-field>

            <mat-form-field fxFlex="10">
              <input matInput placeholder="HSN code" type="text"  formControlName="hsn_code" class="text-right">
            </mat-form-field>
          </div>

        </form>
      </mat-card-content>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
        <button mat-button (click)="onSubmit()" mat-stroked-button [disabled]="!productForm.valid">Save</button>
        <button mat-button (click)="updateProduct()" mat-stroked-button>Update</button>
        <button mat-button (click)="clearProductForm()" mat-stroked-button>clear</button>
      </div>
    </mat-card>

    <pre>
      validatorError={{validatorError | json}}
    </pre>
  </div>
  <div fxFlex="50" style="background-color: #c5c4d0">
      <table class="table table-bordered table-responsive products-list" width="100%">
        <thead>
          <tr>
            <th>Sl</th>
            <th>Product</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products| paginate: { itemsPerPage: pageSize, currentPage: p };let indexOfElement=index">
            <td>{{indexOfElement+1}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.sale_unit_name}}</td>
            <td>
              <button mat-icon-button color="primary" aria-label="Edit Product">
                <mat-icon (click)="editProduct(product)">edit</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
      <!--    https://www.npmjs.com/package/ngx-pagination-->
      <!--    npm i ngx-pagination-->
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <pagination-controls  id="some_id"
                            (pageChange)="p=($event)"
                            maxSize="5"
                            directionLinks="true"
                            autoHide="true"
                            responsive="true"
                            previousLabel="Previous"
                            nextLabel="Next"
                            screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>

  </div>
</div>
