#left-div{
  height: 600px;
}

#right-div{
  height: 600px;
}
.products-list{
  max-height: 800px;
  overflow-y: scroll;
}


.table td, .table th{
  padding: 1px 5px 1px 5px !important;
  vertical-align: middle !important;
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

