mat-card{
  background: transparent;
}
#receive-left{
  background: linear-gradient(90deg, rgba(226, 221, 225, 0.56) 0%, rgb(232, 224, 181) 35%, rgb(202, 226, 218) 80%);
}
#receive-right{
  background: linear-gradient(90deg, rgba(226, 221, 225, 0.56) 0%, rgb(232, 224, 181) 35%, rgb(202, 226, 218) 80%);
}
