<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
  <div fxFlex="30" id="receive-left">
    <div style="min-height: 92vh;" *ngIf="transactionYears">
      <div class="form-container mt-5" >
        <form [formGroup] = reportSearchForm>
          <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <mat-form-field fxFlex="50" class="mr-2">
                <mat-label>Select Year</mat-label>
                <mat-select (selectionChange)="selectMonthByYear($event)"  formControlName="search_year">
                  <mat-option *ngFor="let year of transactionYears" [value]="year.transaction_year">
                    {{year.transaction_year}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field fxFlex="50" class="mr-2">
                <mat-label>Select Month</mat-label>
                <mat-select formControlName="search_month">
                  <mat-option *ngFor="let month of transactionMonths" [value]="month.month_number">
                    {{month.month_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
          <button mat-button [routerLink]="['incomeAndExpenditureByYear',reportSearchForm.value.search_year]" [disabled]="!reportSearchForm.value.search_year"   mat-stroked-button>
            Income and Expenditure by Year
          </button>

          <button mat-button [routerLink]="['incomeAndExpenditureByMonth',reportSearchForm.value.search_year,reportSearchForm.value.search_month]" [disabled]="!reportSearchForm.value.search_month"   mat-stroked-button>
            Income and Expenditure by Month
          </button>
        </div>
      </div>

    </div>
  </div>
  <div fxFlex="70" id="receive-right">
    <router-outlet></router-outlet>
  </div>
</div>

<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch"  id="developer-div" *ngIf="false">
  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #cdd20c">
    <pre>

    </pre>
  </div>
  <div fxLayout="column" fxFlex="50" class="mr-1" style="background-color: #f2f2f2">
    <pre>
       transactionYears = {{transactionYears | json}}
    </pre>

  </div>


  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #f2f2f2">
  </div>
</div>
