mat-card{
  background: transparent;
}
#left-div{
  background: linear-gradient(90deg, rgba(226, 221, 225, 0.56) 0%, rgb(232, 224, 181) 35%, rgb(202, 226, 218) 80%);
}
#right-div{
  background: linear-gradient(90deg, rgba(226, 221, 225, 0.56) 0%, rgb(232, 224, 181) 35%, rgb(202, 226, 218) 80%);
}
table td{
  padding: 2px 10px 2px 10px;
}
