<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
  <div fxFlex="40" id="receive-left">
    <div style="min-height: 92vh;">
      <mat-card class="ml-2 mt-2 mr-2 form-mat-card" id="income-form">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
              Expenditure Entry
            </div>
          </mat-card-title>
        </mat-card-header>
        <div class="form-container">
          <form [formGroup] = transactionForm>
            <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <!--Transaction Date and Transaction Number-->
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <!--Transaction Date-->
                <mat-form-field class="example-full-width" fxFlex="40">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" (dateChange)="handleTransactionDateChange($event)" formControlName="transaction_date" >
                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>

              </div>
              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                  <ng-select [items]="expenditureLedgers" fxFlex="50"
                             bindLabel="ledger_name"
                             class="custom"
                             bindValue="id"
                             formControlName="ledger_id"
                             placeholder="Select">
                  </ng-select>
                <mat-form-field fxFlex="50">
                  <mat-label>Voucher Number</mat-label>
                  <input matInput placeholder="Voucher Number" formControlName="voucher_number">
                </mat-form-field>
              </div>



              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <mat-form-field fxFlex="50">
                  <mat-label>Amount</mat-label>
                  <input matInput type="number" placeholder="Invoice" (click)="$event.target.select()" formControlName="amount">
                </mat-form-field>
              </div>

              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <mat-form-field fxFlex="50">
                  <mat-label>Transaction Through</mat-label>
                  <mat-select  formControlName="asset_id">
                    <mat-option *ngFor="let asset of assets" [value]="asset.id">
                      {{asset.assets_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <mat-form-field fxFlex="50">
                  <mat-label>Particulars</mat-label>
                  <textarea  matInput rows="4" cols="50" formControlName="particulars"></textarea>
                </mat-form-field>
              </div>
            </div>




          </form>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
            <button mat-button (click) = "clearTransactionForm()"   mat-stroked-button>Clear</button>
            <button mat-button (click)="saveExpenditureTransaction()" [disabled]="!transactionForm.valid"   mat-stroked-button>Save</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxFlex="60" id="receive-right">
    <mat-card class="ml-2 mt-2 mr-2 form-mat-card" id="transaction-display-div">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
            Income Transactions
          </div>
        </mat-card-title>
      </mat-card-header>
      <div class="form-container">
        <form class="example-form">
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
            </mat-form-field>
          </div>
        </form>
        <table class="table" id="income-transaction-table">
          <thead>
          <tr>
            <th class="w-5 text-center">SL.</th>
            <th class="w-10 text-sm-left">Date</th>
            <th class="w-10 text-sm-left">Trn. No.</th>
            <th class="w-25 text-left">Purpose</th>
            <th class="w-15 text-left">Type</th>
            <th class="w-20 text-right">amount</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of expenditureTransactions | filter:searchTerm | paginate: { itemsPerPage: pageSize, currentPage: p }; let indexOfElement = index;">
            <td class="text-center">{{(indexOfElement+1) | number:'3.0'}}</td>
            <td class="text-left">{{item.formatted_date}}</td>
            <td class="text-left">{{item.transaction_number}}</td>
            <td class="text-left">{{item.ledger_name}}</td>
            <td class="text-left">{{item.assets_name}}</td>
            <td class="text-right">{{item.amount | currency:"&#8377;"}}</td>
          </tr>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
        <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
          <!--    https://www.npmjs.com/package/ngx-pagination-->
          <!--    npm i ngx-pagination-->
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          <pagination-controls  id="some_id"
                                (pageChange)="p=($event)"
                                maxSize="5"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                previousLabel="Previous"
                                nextLabel="Next"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch"  id="developer-div" *ngIf="true">
  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #cdd20c">
    <pre>
<!--      transactionMasterForm={{this.transactionForm.valid | json}}-->
<!--      transactionMasterForm={{this.transactionForm.value | json}}-->
    </pre>
  </div>
  <div fxLayout="column" fxFlex="50" class="mr-1" style="background-color: #f2f2f2">
    <pre>
       transactionForm = {{transactionForm.value | json}}
    </pre>

  </div>


  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #f2f2f2">
  </div>
</div>
